@charset "UTF-8";
/*Общие */

body {
    font-family: "Montserrat", serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    padding: 0;
    margin: 0;
}

.page {
    overflow: hidden;
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #162760;
}

.section__top {
    margin-top: 70px;
}

@media screen and (max-width: 560px) {
    .section__top {
        margin-top: 50px;
    }
}

.section__background {
    background-color: #F6F8FF;
    width: 100%;
    position: relative;
    z-index: 3;
}

@media screen and (min-width: 1280px) {
    .container {
        padding: 20px 0;
    }
}

@media screen and (max-width: 1280px) {
    .container {
        padding: 20px 10px;
    }
}

.title__h1 {
    font-size: 28px;
    font-weight: 500;
    line-height: 33px;
    letter-spacing: 1.2px;
}

@media screen and (max-width: 560px) {
    .title__h1 {
        font-size: 20px;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 1.1px;
    }
}

.title__section_h2 {
    font-size: 32px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #000;
    margin-bottom: 40px;
}

@media screen and (max-width: 560px) {
    .title__section_h2 {
        margin-bottom: 30px;
        font-size: 28px;
    }
}

.header {
    background-color: #162760;
    width: 100%;
    height: auto;
    padding: 0;
    position: relative;
    z-index: 3;
}

.header .header__container {
    max-width: 1200px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

@media screen and (min-width: 1280px) {
    .header .header__container {
        padding: 10px 0;
    }
}

@media screen and (max-width: 1280px) {
    .header .header__container {
        padding: 10px 10px;
    }
}

.header .header__container .container__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-column-gap: 25px;
       -moz-column-gap: 25px;
            column-gap: 25px;
}

.header .header__container .container__column .column__language {
    background: none;
    border: 0;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    line-height: 20px;
}

.header .header__container .container__column .column__language,
.header .header__container .container__column .column__entrance,
.header .header__container .container__column .column__special-version,
.header .header__container .container__column .column__letter {
    height: 40px;
    width: 40px;
    background-color: #162760;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    border-radius: 10px;
}

.header .header__container .container__column .column__language svg,
.header .header__container .container__column .column__entrance svg,
.header .header__container .container__column .column__special-version svg,
.header .header__container .container__column .column__letter svg {
    stroke: #fff;
}

.header .header__container .container__column .column__language:hover,
.header .header__container .container__column .column__entrance:hover,
.header .header__container .container__column .column__special-version:hover,
.header .header__container .container__column .column__letter:hover {
    cursor: pointer;
    color: #162760;
    background-color: #fff;
}

.header .header__container .container__column .column__language:hover svg,
.header .header__container .container__column .column__entrance:hover svg,
.header .header__container .container__column .column__special-version:hover svg,
.header .header__container .container__column .column__letter:hover svg {
    stroke: #162760;
}

.header .header__container .container__column .column__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
    margin-top: 5px;
}

.header .header__container .container__column .column__social .social__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 40px;
    width: 40px;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 10px;
}

.header .header__container .container__column .column__social .social__btn:hover {
    background-color: #fff;
}

.header .header__container .container__column .column__social .social__btn svg {
    fill: #fff;
    stroke: #fff;
}

.header .header__container .container__column .column__social .social__btn:hover svg {
    fill: #162760;
    stroke: #162760;
}

.header .header__container .container__column .column__search {
    background-color: #D9D9D9;
    padding: 5px;
    border-radius: 10px;
    border: 2px;
}

.header .header__container .container__column .column__search input {
    border: 0;
    height: 28px;
    color: rgba(22, 39, 96, 0.5);
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
    background-color: #D9D9D9;
}

@media screen and (max-width: 560px) {
    .header .header__container .container__column .column__search input {
        max-width: 90px;
        font-size: 12px;
    }
}

.header .header__container .container__column .column__search .search__btn {
    border: 0;
    background-color: #162760;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 1.5px;
    height: 30px;
    padding: 0 30px;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}

.header .header__container .container__column .column__search .search__btn:hover {
    background-color: #354886;
}

@media screen and (max-width: 560px) {
    .header .header__container .container__column .column__search .search__btn {
        font-size: 12px;
        padding: 0 10px;
    }
}

@media screen and (max-width: 560px) {
    .header .header__container .container__column .logo__image {
        max-width: 26px;
    }
}

.header .header__container .column__logo {
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
}

.header .header__container .column__logo .logo_name {
    color: #fff;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    max-width: 300px;
}

@media screen and (max-width: 560px) {
    .header .header__container .column__logo .logo_name {
        font-size: 12px;
    }
}

.header .header__container .column__navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 8px;
}

.header .header__container .column__navbar .navbar__nav {
    position: relative;
}

@media screen and (max-width: 980px) {
    .header .header__container .column__navbar .navbar__nav {
        display: none;
    }
}

.header .header__container .column__navbar .navbar__nav .nav__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    gap: 8px;
    width: 100%;
    padding: 0;
    margin: 0;
}

.header .header__container .column__navbar .navbar__nav .nav__item .item__link {
    position: relative;
    overflow: hidden;
}

.header .header__container .column__navbar .navbar__nav .nav__item .item__link .link {
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-decoration: none;
}

.header .header__container .column__navbar .navbar__nav .nav__item .item__link .link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: #fff;
    -webkit-transition: width 0.3s ease;
    transition: width 0.3s ease;
}

.header .header__container .column__navbar .navbar__nav .nav__item .item__link .link:hover::after {
    width: 100%;
}

.header .header__container .column__navbar .navbar__button .button__image-navbar {
    margin-top: 2.5px;
}

@media screen and (max-width: 760px) {
    .header .header__container .column__desktop {
        display: none;
    }
}

@media screen and (max-width: 760px) {
    .header .header__container .column__mobile {
        width: 100%;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
}

.section__intro {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.section__intro::after {
    content: url(/assets/img/fon/pattern__right.png);
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

@media screen and (max-width: 1120px) {
    .section__intro::after {
        display: none;
    }
}

.section__intro::before {
    content: url(/assets/img/fon/pattern__left.png);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

@media screen and (max-width: 1120px) {
    .section__intro::before {
        opacity: 0.3;
    }
}

.section__intro .intro__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    z-index: 2;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

@media screen and (min-width: 1280px) {
    .section__intro .intro__container {
        padding: 23px 0;
    }
}

@media screen and (max-width: 1280px) {
    .section__intro .intro__container {
        padding: 23px 10px;
    }
}

@media screen and (max-width: 560px) {
    .section__intro .intro__container {
        padding: 18px 10px;
    }
}

.section__intro .intro__container .container__title {
    max-width: 700px;
}

@media screen and (max-width: 560px) {
    .section__intro .intro__container .container__title .column__title {
        text-align: center;
    }
}

.section__intro .intro__container .container__title .column__subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 33px;
    letter-spacing: 1.2px;
}

@media screen and (max-width: 560px) {
    .section__intro .intro__container .container__title .column__subtitle {
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        margin-top: 8px;
        display: block;
    }
}

@media screen and (max-width: 560px) {
    .section__intro .intro__container {
        text-align: center;
        gap: 27px;
    }
}

.section__intro .intro__container .container__glava {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
}

.section__intro .intro__container .container__glava .column__desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

.section__intro .intro__container .container__glava .column__desc .desc__job {
    display: block;
}

.section__intro .intro__container .container__glava .column__desc .desc__job span {
    font-size: 22px;
    color: #000;
    font-weight: 500;
    line-height: 24px;
}

@media screen and (max-width: 560px) {
    .section__intro .intro__container .container__glava .column__desc .desc__job span {
        font-size: 18px;
        line-height: 20px;
    }
}

.section__intro .intro__container .container__glava .column__desc .desc__name {
    display: block;
}

.section__intro .intro__container .container__glava .column__desc .desc__name span {
    font-size: 18px;
    color: #000;
    font-weight: 500;
    line-height: 24px;
}

@media screen and (max-width: 560px) {
    .section__intro .intro__container .container__glava .column__desc .desc__name span {
        font-size: 16px;
        line-height: 20px;
    }
}

.section__intro .intro__container .container__glava .column__photo {
    display: block;
    position: relative;
}

@media screen and (max-width: 980px) {
    .section__intro .intro__container .container__glava {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 15px;
    }
}

@media screen and (max-width: 560px) {
    .section__intro .intro__container .container__glava {
        width: 100%;
        -webkit-box-align: normal;
            -ms-flex-align: normal;
                align-items: normal;
    }
}

@media screen and (max-width: 560px) {
    .section__intro .intro__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}

.section__widget .widget__container {
    max-width: 1200px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    overflow: hidden;
}

@media screen and (max-width: 760px) {
    .section__widget .widget__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}

.section__articles {
    width: 100%;
    position: relative;
}

.section__articles::before {
    content: url(/assets/img/fon/article__left.png);
    position: absolute;
    top: -10%;
    left: 0;
    z-index: 1;
}

@media screen and (max-width: 1120px) {
    .section__articles::before {
        opacity: 0.3;
    }
}

.section__articles::after {
    content: url(/assets/img/fon/article__right.png);
    position: absolute;
    bottom: -10%;
    right: 0;
    z-index: 1;
}

@media screen and (max-width: 1120px) {
    .section__articles::after {
        opacity: 0.3;
    }
}

.section__articles .articles__wraper {
    max-width: 1200px;
    margin: 0 auto;
    z-index: 2;
    position: relative;
}

.section__articles .articles__wraper .articles__items {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

@media screen and (max-width: 1240px) {
    .section__articles .articles__wraper .articles__items {
        gap: 20px;
    }
}

@media screen and (max-width: 1180px) {
    .section__articles .articles__wraper .articles__items {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }
}

@media screen and (max-width: 980px) {
    .section__articles .articles__wraper .articles__items {
        gap: 20px;
    }
}

@media screen and (max-width: 560px) {
    .section__articles .articles__wraper .articles__items {
        grid-template-columns: 1fr;
    }
}

.section__articles .articles__wraper .articles__items .article {
    background-color: #F6F8FF;
    padding: 10px;
    margin: 0;
    border-radius: 10px;
    -webkit-transition: -webkit-box-shadow 0.3s ease;
    transition: -webkit-box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}

.section__articles .articles__wraper .articles__items .article .article__picture img {
    max-width: 250px;
    max-height: 145px;
    border-radius: 10px;
}

@media screen and (max-width: 1180px) {
    .section__articles .articles__wraper .articles__items .article .article__picture img {
        max-height: 315px;
        width: 100%;
        max-width: 540px;
    }
}

.section__articles .articles__wraper .articles__items .article .article__title {
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-align: left;
    text-decoration: none;
    color: #000;
    margin-top: 10px;
}

.section__articles .articles__wraper .articles__items .article .article__title:hover {
    color: #162760;
}

@media screen and (max-width: 560px) {
    .section__articles .articles__wraper .articles__items .article .article__title {
        font-size: 16px;
    }
}

.section__articles .articles__wraper .articles__items .article .article_inform {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 10px;
}

.section__articles .articles__wraper .articles__items .article .inform__data, .section__articles .articles__wraper .articles__items .article .inform__hits {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 5px;
       -moz-column-gap: 5px;
            column-gap: 5px;
    color: #434343;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    letter-spacing: 0.03em;
    text-align: left;
    text-decoration: none;
}

@media screen and (max-width: 560px) {
    .section__articles .articles__wraper .articles__items .article .inform__data, .section__articles .articles__wraper .articles__items .article .inform__hits {
        font-size: 12px;
    }
}

.section__articles .articles__wraper .articles__items .article:hover {
    background-color: #cfd6f0;
    -webkit-box-shadow: 10px 10px 15px 0px #c5c9f3;
            box-shadow: 10px 10px 15px 0px #c5c9f3;
}

.section__articles .link_articles {
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

@media screen and (max-width: 560px) {
    .section__articles .link_articles {
        margin-top: 30px;
    }
}

.section__articles .link_articles a {
    color: #162760;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0.03em;
    text-align: left;
    text-decoration: none;
}

@media screen and (max-width: 560px) {
    .section__articles .link_articles a {
        font-size: 14px;
    }
}

@media screen and (max-width: 560px) {
    .section__articles .link_articles svg {
        width: 40px;
        height: 40px;
    }
}

.section__articles .link_articles svg {
    fill: #162760;
}

.section__articles .link_articles:hover a {
    color: #0029b3;
}

.section__articles .link_articles:hover svg {
    fill: #0029b3;
}

.chapter__container {
    position: relative;
    z-index: 3;
}

.chapter__container .swiper__chapter {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.chapter__container .swiper__chapter .chapter__item {
    background-color: #FFFFFF;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: auto;
    -webkit-transition: -webkit-box-shadow 0.3s ease;
    transition: -webkit-box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}

.chapter__container .swiper__chapter .chapter__item .item__link {
    width: 100%;
    padding: 25px 15px;
}

@media screen and (max-width: 560px) {
    .chapter__container .swiper__chapter .chapter__item .item__link {
        padding: 15px 10px;
    }
}

.chapter__container .swiper__chapter .chapter__item:hover {
    background-color: #edf0fa;
    -webkit-box-shadow: inset 5px 5px 10px #c5c9f3;
            box-shadow: inset 5px 5px 10px #c5c9f3;
}

.chapter__container .swiper__chapter .swiper__navigations {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-top: 40px;
}

@media screen and (max-width: 560px) {
    .chapter__container .swiper__chapter .swiper__navigations {
        margin-top: 30px;
    }
}

.chapter__container .swiper__chapter .swiper__navigations .swiper-pagination {
    display: block;
    position: relative;
}

.chapter__container .swiper__chapter .swiper__navigations .swiper-btn-next, .chapter__container .swiper__chapter .swiper__navigations .swiper-btn-prev {
    cursor: pointer;
}

.chapter__container .swiper__chapter .swiper__navigations .swiper-pagination-bullet {
    background: #23377c;
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    opacity: 0.7;
    width: 10px;
}

.chapter__container .swiper__chapter .swiper__navigations .swiper-pagination-bullet-active {
    background: #162760;
    opacity: 1;
}

.chapter__container .swiper__chapter .swiper__navigations .swiper-pagination-bullets.swiper-pagination-horizontal {
    width: auto;
    bottom: 0;
}

.chapter__container .swiper__chapter .swiper-wrapper .swiper-slide .item__link {
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.03em;
    text-align: left;
    text-decoration: none;
    color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
}

@media screen and (max-width: 560px) {
    .chapter__container .swiper__chapter .swiper-wrapper .swiper-slide .item__link {
        font-size: 18px;
    }
}

.chapter__container .swiper__chapter .swiper-wrapper .swiper-slide .item__link::after {
    content: url(/vlast_saite/assets/img/icons/arrow.svg);
}

@media screen and (max-width: 560px) {
    .chapter__container .swiper__chapter .swiper-wrapper .swiper-slide .item__link::after {
        width: 40px;
        height: 40px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
}

.section__notifi {
    width: 100%;
    position: relative;
}

.section__notifi::before {
    content: url(/assets/img/fon/notifi__left.png);
    position: absolute;
    top: -20%;
    left: 0;
    z-index: 1;
}

.section__notifi::after {
    content: url(/assets/img/fon/notifi__right.png);
    position: absolute;
    bottom: -30%;
    right: 0;
    z-index: 1;
}

.section__notifi .notifi__container {
    max-width: 1200px;
    margin: 0 auto;
}

.section__notifi .notifi__container .container_notifi {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    z-index: 2;
    position: relative;
}

@media screen and (max-width: 1180px) {
    .section__notifi .notifi__container .container_notifi {
        gap: 20px;
    }
}

@media screen and (max-width: 1080px) {
    .section__notifi .notifi__container .container_notifi {
        grid-template-columns: 1fr;
    }
}

.section__notifi .notifi__container .container_notifi .notifi__item {
    background-color: #F6F8FF;
    border-radius: 10px;
    padding: 10px;
    -webkit-transition: -webkit-box-shadow 0.3s ease;
    transition: -webkit-box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}

@media screen and (max-width: 560px) {
    .section__notifi .notifi__container .container_notifi .notifi__item {
        padding: 5px;
    }
}

.section__notifi .notifi__container .container_notifi .notifi__item .item__wraper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    gap: 15px;
}

@media screen and (max-width: 760px) {
    .section__notifi .notifi__container .container_notifi .notifi__item .item__wraper {
        gap: 10px;
    }
}

.section__notifi .notifi__container .container_notifi .notifi__item .item__wraper::before {
    content: url(/assets/img/icons/notifi.svg);
}

@media screen and (max-width: 480px) {
    .section__notifi .notifi__container .container_notifi .notifi__item .item__wraper::before {
        display: none;
    }
}

.section__notifi .notifi__container .container_notifi .notifi__item .item__wraper .item__title {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-align: left;
    text-decoration: none;
}

@media screen and (max-width: 560px) {
    .section__notifi .notifi__container .container_notifi .notifi__item .item__wraper .item__title {
        font-size: 18px;
    }
}

.section__notifi .notifi__container .container_notifi .notifi__item .item__wraper .item__sub_title {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-align: left;
    text-decoration: none;
    padding: 0;
    margin: 10px 0 0 0;
}

@media screen and (max-width: 560px) {
    .section__notifi .notifi__container .container_notifi .notifi__item .item__wraper .item__sub_title {
        font-size: 12px;
        margin: 8px 0 0 0;
        line-height: 14px;
        letter-spacing: 0.03em;
    }
}

.section__notifi .notifi__container .container_notifi .notifi__item .item__wraper .wraper__content {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}

.section__notifi .notifi__container .container_notifi .notifi__item:hover {
    background-color: #cfd6f0;
    -webkit-box-shadow: 10px 10px 15px 0px #c5c9f3;
            box-shadow: 10px 10px 15px 0px #c5c9f3;
}

.section__notifi .notifi__container .link_notifi {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-top: 40px;
}

@media screen and (max-width: 560px) {
    .section__notifi .notifi__container .link_notifi {
        margin-top: 30px;
    }
}

.section__notifi .notifi__container .link_notifi svg {
    height: 40px;
    width: 40px;
}

.section__notifi .notifi__container .link_notifi a {
    font-size: 16px;
    font-weight: 600;
    line-height: 19.2px;
    letter-spacing: 0.03em;
    text-align: left;
    text-decoration: none;
}

@media screen and (max-width: 560px) {
    .section__notifi .notifi__container .link_notifi a {
        font-size: 14px;
    }
}

.section__notifi .notifi__container .link_notifi svg {
    fill: #162760;
}

.section__notifi .notifi__container .link_notifi:hover svg {
    fill: #0029b3;
}

.section__notifi .notifi__container .link_notifi:hover a {
    color: #0029b3;
}

.section__banners .banners__slide {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    z-index: 3;
}

.section__banners .swiper__banners .swiper__navigations {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-top: 40px;
}

.section__banners .swiper__banners .swiper__navigations .swiper-pagination {
    display: block;
    position: relative;
}

.section__banners .swiper__banners .swiper__navigations .swiper-btn-next, .section__banners .swiper__banners .swiper__navigations .swiper-btn-prev {
    cursor: pointer;
}

.section__banners .swiper__banners .swiper__navigations .swiper-pagination-bullet {
    background: #23377c;
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    opacity: 0.7;
    width: 10px;
}

.section__banners .swiper__banners .swiper__navigations .swiper-pagination-bullet-active {
    background: #162760;
    opacity: 1;
}

.section__banners .swiper__banners .swiper__navigations .swiper-pagination-bullets.swiper-pagination-horizontal {
    width: auto;
    bottom: 0;
}

.section__new_materials {
    position: relative;
}

.section__new_materials::before {
    content: url(/assets/img/fon/material__left.png);
    position: absolute;
    top: -20%;
    left: 0;
    z-index: 1;
}

@media screen and (max-width: 1120px) {
    .section__new_materials::before {
        opacity: 0.3;
    }
}

.section__new_materials::after {
    content: url(/assets/img/fon/material__right.png);
    position: absolute;
    bottom: -20%;
    right: 0;
    z-index: 1;
}

@media screen and (max-width: 1120px) {
    .section__new_materials::after {
        opacity: 0.3;
    }
}

.section__new_materials .new_materials__container {
    max-width: 1200px;
    margin: 0 auto;
}

.section__new_materials .new_materials__container .container__items {
    background-color: #F6F8FF;
    padding: 10px;
    position: relative;
    border-radius: 10px;
    position: relative;
    z-index: 3;
}

.section__new_materials .new_materials__container .container__items .items {
    display: grid;
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
    row-gap: 10px;
    padding: 0;
    position: relative;
}

@media screen and (max-width: 560px) {
    .section__new_materials .new_materials__container .container__items .items {
        grid-template-columns: 1fr;
        -webkit-column-gap: 10px;
           -moz-column-gap: 10px;
                column-gap: 10px;
    }
}

.section__new_materials .new_materials__container .container__items .items::before {
    background-color: #fff;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    width: 2px;
    left: 50%;
}

@media screen and (max-width: 560px) {
    .section__new_materials .new_materials__container .container__items .items::before {
        display: none;
    }
}

.section__new_materials .new_materials__container .container__items .items .item {
    padding-left: 20px;
    position: relative;
}

.section__new_materials .new_materials__container .container__items .items .item::before {
    content: "";
    position: absolute;
    left: 0;
    top: 4px;
    font-size: 1.5em;
    line-height: 1.4em;
    width: 11px;
    height: 11px;
    background-color: #162760;
    border-radius: 60px;
}

@media screen and (max-width: 560px) {
    .section__new_materials .new_materials__container .container__items .items .item::before {
        width: 8px;
        height: 8px;
        top: 5px;
    }
}

.section__new_materials .new_materials__container .container__items .items .item .item__link {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    letter-spacing: 0.04em;
    text-align: left;
    text-decoration: none;
}

.section__new_materials .new_materials__container .container__items .items .item .item__link:hover {
    color: #0029b3;
}

.footer {
    width: 100%;
    background-color: #162760;
    margin-top: 70px;
    padding: 30px 0;
    z-index: 3;
    position: relative;
}

@media screen and (max-width: 560px) {
    .footer {
        margin-top: 50px;
    }
}

.footer .footer__container_grid {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
}

@media screen and (max-width: 1280px) {
    .footer .footer__container_grid {
        gap: 40px;
    }
}

@media screen and (max-width: 760px) {
    .footer .footer__container_grid {
        grid-template-columns: 1fr;
    }
}

.footer .footer__container_grid .column__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.footer .footer__container_grid .column__logo .logo__name {
    color: #fff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
}

.footer .footer__container_grid .column__contact p {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    padding: 0;
    margin: 0 0 10px 0px;
}

.footer .footer__container_grid .column__contact p span {
    font-size: 18px;
    font-weight: 500;
}

.footer .footer__container_grid .column__contact p a {
    color: #fff;
}

.footer .footer__container_grid .column__social {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 10px;
}

.footer .footer__container_grid .column__social a {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    max-width: 23px;
}

.footer .footer__container_grid .container_grid__column .footer__nav .nav__items {
    list-style: none;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 5px;
}

.footer .footer__container_grid .container_grid__column .footer__nav .nav__items .item a {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
    text-decoration: none;
    color: #fff;
}

.footer .footer__container_grid .container_grid__column .footer__nav_nav__column__2 {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}

@media screen and (max-width: 760px) {
    .footer .footer__container_grid .container_grid__column .footer__nav_nav__column__2 {
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }
}

.footer .footer__container_grid .container_grid__column .footer__nav_nav__column__2 .nav__items {
    list-style: none;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    gap: 5px;
}

@media screen and (max-width: 760px) {
    .footer .footer__container_grid .container_grid__column .footer__nav_nav__column__2 .nav__items {
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }
}

.footer .footer__container_grid .container_grid__column .footer__nav_nav__column__2 .nav__items .item a {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
    text-decoration: none;
    color: #fff;
}

.footer .footer__container_grid .container_grid__column .autor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-top: 30px;
}

@media screen and (max-width: 760px) {
    .footer .footer__container_grid .container_grid__column .autor {
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }
}

.footer .footer__container_grid .container_grid__column .autor .autor__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
    color: #fff;
    margin-bottom: 5px;
}

.footer .footer__container_grid .column__last {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}

@media screen and (max-width: 760px) {
    .footer .footer__container_grid .column__last {
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }
}
